<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
</head>
<body>

<div class="container">
    <h2>Stacked form</h2>

    <form action="#" th:action="@{save}" th:object="${content}" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title"
                   placeholder="title" name="title" th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="author">Title:</label>
            <input type="text" class="form-control" id="author"
                   placeholder="author" name="author" th:field="*{author}">
        </div>

        <div class="form-group">
            <label for="submenu">Submenu:</label>
            <select id="submenu"  >
                <option th:each="menu :${submenu}" th:value="${menu.id}" th:text="${menu.name}"></option>
            </select>

        </div>


        <div class="form-group">
            <label for="content">Comment:</label>
            <textarea class="form-control" rows="5" id="content"
                      name="content" th:field="*{content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    CKEDITOR.replace('content');
</script>

</body>
</html>
