<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">



<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <a href="/" >Go back</a><br><br>

    <h2 th:text="${content.title}"></h2>
    <p> Author: <span th:text="${content.author}"> </span>, Update date: <span th:text="${content.updatedAt}"> </span> </p>

    <div  th:utext="${content.content}"></div>



</div>

</body>
</html>
