<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title th:text="#{page.home}" ></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 th:text="#{page.home}">Vertical Nav</h2>
    <p>Use the .flex-column class to create a vertical nav:</p>
    <div class="language-dropdown">
        <a class="dropdown-item" href="?lang=az">Azerbaijan</a>
        <a class="dropdown-item" href="?lang=en">English</a>
    </div>

    <ul class="nav flex-column" th:each="content: ${contents}">

        <li class="nav-item" >
            <a class="nav-link" href="#" th:href="@{/content/{id} (id=${content.id})}" th:text="${content.title}">Link</a>
        </li>

    </ul>
</div>

</body>
</html>
